* {
	margin: 0;
	padding: 200;
}

body {
	background: url(https://i.ibb.co/C0Z9Z01/bgfinalstretch.jpg) 50%;
	background-repeat:no-repeat;
	background-size:cover;
	z-index: -1;
}

button {
	position: fixed;
  z-index: +5;
}

.main {
	font-family: "Times New Roman", Times, serif font-stretch: expanded;
	color: white;
	mix-blend-mode: difference;
	font-size: 140px;
	text-align: left;
	padding: 20px 20px 20px 20px;
	filter: blur(1px);
}

.main2 {
	font-family: "Times New Roman", Times, serif font-stretch: expanded;
	color: white;
	mix-blend-mode: difference;
	font-size: 140px;
	text-align: left;
	padding: 20px 20px 20px 20px;
	filter: blur(1.5px);
}

.main3 {
	font-family: "Times New Roman", Times, serif font-stretch: expanded;
	color: white;
	mix-blend-mode: difference;
	font-size: 140px;
	text-align: left;
	padding: 20px 20px 20px 20px;
	filter: blur(2px);
}

.main4 {
	font-family: "Times New Roman", Times, serif font-stretch: expanded;
	color: white;
	mix-blend-mode: difference;
	font-size: 140px;
	text-align: left;
	padding: 20px 20px 20px 20px;
	filter: blur(2.5px);
}

.title {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	transform: scaleY(2);
	color: white;
	mix-blend-mode: difference;
	font-size: 200px;
	text-align: left;
	padding: 200px 20px 200px 20px;
	filter: blur(3px);
}

#area img{
  position: fixed;
  width: 10%;
  z-index: 999;
	color: white;
	z-index: 1;
}

#speck {
width: 150px;
  height: 150px;
  background-image: url('https://i.ibb.co/pWgZh0b/speck-2.png');
	    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

#speck2 {
width: 150px;
  height: 150px;
  background-image: url('https://i.ibb.co/pWgZh0b/speck-2.png');
	    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

@media screen and (max-width: 480px) {
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1200px) {
}
