body, html {
	margin-top: 0;
	padding: 0;
}

div#preloader {
	position: absolute;
	left: -9999px;
	top: -9999px
}

#fineprintContainer a {
	color: #000
}

#fineprintContainer a:hover {
	text-decoration: none
}

h1 {
	font-size: 30px;
	line-height: 20px
}

@media(min-width:1200px) {
	h1 {
		font-size: 36px;
		line-height: 26px
	}
}

p {
	font-size: 16px;
	line-height: 22px;
	margin: 35px 0 8px
}

@media(min-width:1200px) {
	p {
		font-size: 24px;
		line-height: 32px
	}
}

#fineprintContainer {
	position: fixed;
	bottom: 0;
	right: 0;
	max-height: 26px;
	line-height: 13px;
	display: block;
	z-index: 888
}

#fineprintBG {
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	background-color: #fff;
	opacity: .5
}

#fineText {
	color: #000;
	font-size: 10px;
	z-index: 999;
	font-family: Roboto, Arial, sans-serif;
	padding: 0 10px
}

#tray {
	visibility: hidden;
	position: fixed;
	z-index: 4;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 200px;
	background-color: #fff;
	-moz-box-shadow: 0 1px 20px 0 #444;
	-webkit-box-shadow: 0 1px 20px 0 #444;
	box-shadow: 0 1px 20px 0 #444
}

#trayButton {
	position: absolute;
	top: -30px;
	height: 30px;
	width: 100px;
	background-color: #fff;
	left: 25px;
	background-image: url(../img/buttontray.png)
}

.thumb {
	position: absolute;
	top: 25px
}

#wrapper {
	position: absolute;
	z-index: 3;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	overflow: hidden
}

#scroller {
	position: absolute;
	z-index: 3;
	width: 50000px;
	height: 50000px;
	overflow: hidden;
	-webkit-tap-highlight-color: transparent;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none
}

#scroller {
	position: absolute;
	z-index: 3;
	-webkit-tap-highlight-color: transparent;
	width: 1000000px;
	height: 1000000px;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none
}

.layerContainer {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	overflow: hidden
}

.layerContainer div {
	position: absolute;
	width: 100%;
	overflow: hidden;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0)
}

#layerContainer1 {
	z-index: 5;
	width: 1000000px;
	height: 1000000px
}

#layer1 {
	z-index: 2
}

.cursorOriginal {
	cursor: move;
	cursor: drag;
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: url(https://mail.google.com/mail/images/2/openhand.cur)
}

.cursorUpdate {
	cursor: grabbing;
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: url(https://mail.google.com/mail/images/2/closedhand.cur);
	cursor: url(https://mail.google.com/mail/images/2/closedhand.cur)
}

#layerContainer2 {}

#layer2 {
	z-index: 1
}

#topRight {
	border: solid #fff 5px;
	z-index: 4;
	position: fixed;
	width: 128px;
	height: 128px;
	top: 30px;
	right: 30px;
	background-image: url(../img/small_map.jpg)
}

#loader {
	position: fixed;
	width: 100%;
	height: 110%;
	color: #000;
	background: #fff;
	opacity: 1;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: table;
	vertical-align: middle;
	z-index: 2;
	position: fixed;
	z-index: 1000
}

#loadingImage {
	z-index: 101;
	width: 100%;
	height: 110%;
	opacity: 1;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: table;
	vertical-align: middle;
	z-index: 2;
	position: fixed
}

#loader p {
	text-align: center;
	position: relative;
	vertical-align: middle;
	display: table-cell;
	font-size: 46px
}

#loadingBar {
	position: fixed;
	left: 0;
	top: 50%;
	height: 2px;
	width: 0;
	background-color: #000
}

#trayButton {
	z-index: 4;
	position: absolute;
	bottom: 25px;
	height: 30px;
	width: 100px;
	background-color: #fff;
	left: 25px;
	background-image: url(../img/buttontray.png);
	cursor: pointer
}

#soundButton {
	z-index: 99;
	position: absolute;
	width: 27px;
	height: 27px;
	top: 16px;
	right: 64px;
	overflow: hidden;
	cursor: pointer;
	visibility: hidden
}

#moreInfoButton {
	z-index: 99;
	position: absolute;
	width: 27px;
	height: 27px;
	top: 16px;
	right: 16px;
	overflow: hidden;
	cursor: pointer
}

#title {
	z-index: 99;
	position: absolute;
	width: 300px;
	height: 30px;
	top: 16px;
	left: 16px
}

#infoContainer {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	background-color: #fff;
	z-index: 5;
	visibility: hidden
}

#info {
	padding: 100px
}

.soundClass {
	position: absolute;
	left: 0;
	top: 0
}
