* {
	margin: 0;
	padding: 200;
}

body {
	background: url(https://i.ibb.co/C0Z9Z01/bgfinalstretch.jpg) 50%;
	background-repeat:no-repeat;
	background-size:cover;
	z-index: -1;
}

button {
	position: fixed;
  z-index: +5;
}

.center {
font-family: "Times New Roman", Times, serif font-stretch: expanded;
color: white;
mix-blend-mode: difference;
font-size: 140px;
text-align: center;
padding: 20px 20px 20px 20px;
filter: blur(3px);
}

.center2 {
font-family: "Times New Roman", Times, serif font-stretch: expanded;
color: white;
mix-blend-mode: difference;
font-size: 20px;
text-align: center;
padding: 20px 20px 20px 20px;
filter: blur(1px);
}

.main {
	font-family: "Times New Roman", Times, serif font-stretch: expanded;
	color: white;
	mix-blend-mode: difference;
	font-size: 140px;
	text-align: left;
	padding: 20px 20px 20px 20px;
	filter: blur(1px);
}

.main2 {
	font-family: "Times New Roman", Times, serif font-stretch: expanded;
	color: white;
	mix-blend-mode: difference;
	font-size: 140px;
	text-align: left;
	padding: 20px 20px 20px 20px;
	filter: blur(1px);
}

.main3 {
	font-family: "Times New Roman", Times, serif font-stretch: expanded;
	color: white;
	mix-blend-mode: difference;
	font-size: 140px;
	text-align: left;
	padding: 20px 20px 20px 20px;
	filter: blur(1px);
}

.main4 {
	font-family: "Times New Roman", Times, serif font-stretch: expanded;
	color: white;
	mix-blend-mode: difference;
	font-size: 140px;
	text-align: left;
	padding: 20px 20px 20px 20px;
	filter: blur(1px);
}

.main4 {
	font-family: "Times New Roman", Times, serif font-stretch: expanded;
	color: white;
	mix-blend-mode: difference;
	font-size: 140px;
	text-align: left;
	padding: 20px 20px 20px 20px;
	filter: blur(1px);
}

.main5 {
	font-family: "Times New Roman", Times, serif font-stretch: expanded;
	color: white;
	mix-blend-mode: difference;
	font-size: 140px;
	text-align: left;
	padding: 20px 20px 20px 20px;
	filter: blur(1px);
}

.main6 {
	font-family: "Times New Roman", Times, serif font-stretch: expanded;
	color: white;
	mix-blend-mode: difference;
	font-size: 140px;
	text-align: left;
	padding: 20px 20px 20px 20px;
	filter: blur(1px);
}

.main7 {
	font-family: "Times New Roman", Times, serif font-stretch: expanded;
	color: white;
	mix-blend-mode: difference;
	font-size: 140px;
	text-align: left;
	padding: 20px 20px 20px 20px;
	filter: blur(1px);
}

.main8 {
	font-family: "Times New Roman", Times, serif font-stretch: expanded;
	color: white;
	mix-blend-mode: difference;
	font-size: 140px;
	text-align: left;
	padding: 20px 20px 20px 20px;
	filter: blur(1px);
}

.main9 {
	font-family: "Times New Roman", Times, serif font-stretch: expanded;
	color: white;
	mix-blend-mode: difference;
	font-size: 140px;
	text-align: left;
	padding: 20px 20px 20px 20px;
	filter: blur(1px);
}

.main10 {
	font-family: "Times New Roman", Times, serif font-stretch: expanded;
	color: white;
	mix-blend-mode: difference;
	font-size: 140px;
	text-align: left;
	padding: 20px 20px 20px 20px;
	filter: blur(1px);
}

.main11 {
	font-family: "Times New Roman", Times, serif font-stretch: expanded;
	color: white;
	mix-blend-mode: difference;
	font-size: 140px;
	text-align: left;
	padding: 20px 20px 20px 20px;
	filter: blur(1px);
}

.main12 {
	font-family: "Times New Roman", Times, serif font-stretch: expanded;
	color: white;
	mix-blend-mode: difference;
	font-size: 140px;
	text-align: left;
	padding: 20px 20px 20px 20px;
	filter: blur(1px);
}

.title {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	transform: scaleY(2);
	color: white;
	mix-blend-mode: difference;
	font-size: 200px;
	text-align: left;
	padding: 200px 20px 200px 20px;
	filter: blur(3px);
}

#area img{
  position: fixed;
  width: 10%;
  z-index: 999;
	color: white;
	z-index: 1;
}

#speck {
width: 150px;
  height: 150px;
  background-image: url('https://i.ibb.co/pWgZh0b/speck-2.png');
	  background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
		float:right;
}

#speck2 {
width: 150px;
  height: 150px;
  background-image: url('https://i.ibb.co/pWgZh0b/speck-2.png');
	    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
		float:left;
}

#speck3 {
width: 150px;
  height: 150px;
  background-image: url('https://i.ibb.co/Y2QpmC9/speck-3transparent.png');
	    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
		float:left;

}

#myDIV {
  width: 100%;
	position: fixed;
	overflow: hidden;
}

@media screen and (min-width: 768px) {
.title{
font-size: 140;
}
body{
font-size:100;
}
}

@media screen and (max-width: 480px) {
.title{
font-size: 120;
}
body{
font-size:80;
}
}
